<!doctype html>
<html lang="en">
<head>
  <!-- Title block allowing child pages to override -->
  <title>{% block title %}Project Title{% endblock %}</title>

  <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />

  <!-- Device Specific Metadata -->
  <meta name="viewport" content="width=device-width">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  
  <!-- Vendor Styles -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  

  <!-- Global Styles -->
  {{ "main.css" | asset_url | stylesheet_tag }}

  <!-- Style block allowing child pages to inject their own styles -->
  {% block styles %}{% endblock %}
</head>
<body>

  <div id="wrapper" class="container no-padding">

    {% include "header" %}
    {% include "about" %}

    <div class="divider" id="demoLightbox" class="lightbox hide fade"  tabindex="-1" role="dialog" aria-hidden="true">
      <a href="#">
        <h1>Join The Movement<i class="fa fa-chevron-right"></i></h1>
        <div class="diagonal"></div>
        <div class="clear"></div>
      </a>
    </div>

    {% include "form" %}
    {% include "sponsors" %}
    {% include "raQuote" %}
    {% include "footer" %}


  </div>

  <!-- Vendor Scripts -->
  {{ "jquery.min.js" | asset_url | script_tag }}
  {{ "bootstrap.js" | asset_url | script_tag }}

  <!-- Script block allowing child pages to inject their own scripts -->
  {% block scripts %}{% endblock %}
  
</body>
</html>