<section id="about">
  <h1 class="text-center">Welcome To The Ray</h1>
    <div class="container-about">
		<p>
	      	What if we start over and reimagine the way we connect our communities, our lives and our world in a way that&#39;s safer, more responsive to the climate, more regenerative to the environment, more uplifting to the spirit and more capable of generating economic opportunity&#45;today and for generations?

			The Ray is a proving ground for the evolving ideas and technologies that will transform the transportation infrastructure of the future, and it starts on on 16 miles of West Georgia&#39;s I-85, and the land and communities surrounding it.

			By innovating from the ground up, we&#39;re creating a corridor that reconnects and restores us, paving the way to a safer and more prosperous future for all.
		</p>
    </div>
</section>