<section id="about">
  <h1 class="text-center">Let's drive the future</h1>
  <div class="container col-sm-offset-1 no-padding">
    <div class="container-about row col-sm-10">
      <p>At Interface, Ray C. Anderson traveled a path he never imagined, all because he had the courage to ask,’What if?’ That question, and the answers to which it led, changed the world, igniting a global movement toward sustainable business practice and proving that a better way is possible. The Ray is the next leap in that journey, born of the same question: What if we start over and reimagine the way we connect our communities, our lives and our world in a way that’s safer, more responsive to the climate, more regenerative to the environment, more uplifting to the spirit and more capable of generating economic opportunity—today and for generations? The Ray is a proving ground for the evolving ideas and technologies that will transform the transportation infrastructure of the future, and it starts at home: on 16 miles of West Georgia's I-85, and the land and communities surrounding it, where Ray built his company and his life. By innovating from the ground up, we’re creating a corridor that reconnects and restores us, paving the way to a safer and more prosperous future for all.</p>
    </div>
  </div>
</section>