<section id="details">
	<div class="container col-sm-offset-1 no-padding">
    <div class="container-details row col-sm-10">

    	<p>From August to December 2014, a team of urban designers from Perkins+Will, under direction of Professor Richard Dagenhart, and eight graduate students from Georgia Tech's School of Architecture studied Ray Anderson's sustainability vision and engaged in a "deep dive" study of the highway corridor which extends from exits 2 to 18 on Interstate 85 in West Georgia.
			<br><br>
    	The design studio class members identified the characteristics of addressing pollution remediation, resource efficiency, wildlife conservation, life safety, cultural exchange and changing attitudes. They analyzed the existing conditions, both at a global scale and more locally within the Ray C. Anderson Memorial Highway.
			
			<div class="">
    		<div class="col-sm-6">
    			logo
    		</div>
    		<div class="col-sm-6">
    			logo
    		</div>
    	</div>

    	</p>

    	
    </div>
  </div>
</section>