<header>
	
	<div class="container">
		<img src="{{ "the-ray.png" | asset_url }}" class="img-responsive logo" alt="">
		<img src="{{ "header-video.jpg" | asset_url }}" class="img-responsive" alt="">
	</div>

</header>