<section id="ray-anderson">
    <div class="container-fluid no-padding">
        <div class="col-sm-12 no-padding">

            <div class="ra-wrapper">
                <img src="{{ "ray-anderson-bg.jpg" | asset_url }}" class="img-responsive" alt="">

                <!-- Large Logo -->
                <div class="ra-quote">
                    <blockquote>Ray C. Anderson is a globally recognized pioneer for the environment. He was the founder of Interface, Inc. and brought sustainability into the business mainstream. In 2014 , a 16-mile stretch of I-85 in Troup County, Georgia was dedicated in his honor and serves to celebrate and embrace his legacy through ongoing sustainability.</blockquote>
                </div>
            </div>


        </div>
    </div>
</section>