section#subscription-form {
	background: #000;
	margin: 0 auto;

	.modal-backdrop.in { 
		opacity: 0;
	}

	.container {
		width: 100%;
		margin: 0 auto;
		padding-top: 30px;

		p { 
			color: #fff;
			text-align: center;
			font-size: 20px;
		  	line-height: 24px;
			padding: 30px;
		  	margin: 0;
		}
	}

	.form {
		width: 80%;
		margin: 0 auto;
		background-color: #fff;
		padding: 50px;
		max-width: 900px;

		@media (min-height: 480px) {
			width: 100%;
			padding: 30px;
		}


		label, .btn {
			font-size: 17px;
		}

		.form-control {
			height: 50px;
			color: #000;
			border: 1px solid #333;
			border-radius: 0;
		}

		.btn {
			width: 100%;
			height: auto;
			padding: 40px;
			border-radius: 0;
			background-color: #1fc9f9;
			color: #fff;
		}
	}
}

.modal.fade.in {     
	width: 100%;
	height: auto;
	padding-right: 0 !important;
}