#ray-anderson{
  z-index: 100;
  position: relative;
}

.ra-wrapper{
  position: relative;
  width: 100%;
  background-color: #000000;

  .portrait{
    position: relative;
    top:0;
    left:50%;
    @include transform(translateX(-50%));
    max-width: 500px;
  }

  .ra-quote{
    position: relative;
    background-color: #000000;
    color:#fff;
    width:100%;
    margin-left: 0;
    padding:1.5em;
    text-align: center;
  }

  blockquote{
    font-size: 15px;
    line-height: 22px;
    border:none;
  }
}

// Displays greater than 768px
@include breakpoint(tablet) {
  .ra-wrapper{

    .portrait{
      left:0;
      position: absolute;
      @include transform(translateX(0));
      max-width: 500px;
    }

    .ra-quote{
      position: absolute;
      background-color: transparent;
      top:50%;
      @include transform(translateY(-50%));
      width:55%;
      margin-left: 45%;
      text-align: left;
    }

    blockquote{
      line-height: 20px;
    }
  }

}

// Displays greater than 992px
@include breakpoint(laptop) {
  .ra-wrapper{

    .portrait{
      max-width: 685px;
    }

    .ra-quote{

    }

    blockquote{
      font-size: 20px;
      font-weight: 300;
      line-height: 24px;
    }
  }

}

// Displays greater than 1200px
@include breakpoint(desktop) {

  .ra-wrapper{

    .portrait{
      max-width: 800px;
    }

    .ra-quote{
      position: absolute;
      top:50%;
      @include transform(translateY(-50%));
      width:50%;
      margin-left: 48%;
      text-align: left;
    }

    blockquote{
      font-size: 20px;
    }
  }


}
// Displays greater than 1600px
@include breakpoint(desktopXL) {


}